@tailwind base;
@tailwind components;
@tailwind utilities;


.subir {
    margin-top: -30px;
}

.subir-form {
    margin-top: -40px;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
