@tailwind base;
@tailwind components;
@tailwind utilities;


.subir {
    margin-top: -30px;
}

.subir-form {
    margin-top: -40px;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Cambiar color de las flechas en modo dark */
:root.dark .rdt_TableCol_Sortable span svg {
  stroke: white !important;
  fill: white !important;
}

.input {
  @apply w-full mt-1 p-2 border rounded-md border-none focus:outline-none focus:ring-2 focus:ring-yellow-500 dark:bg-[#121212];
}
